<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta content="width=device-width, initial-scale=1.0" name="viewport">
    <title>Ödevin ilk sayfası</title>
    <meta name="description" content="">
    <meta name="keywords" content="">

   @await Html.PartialAsync("_StylesPartial")

</head>
<body class="index-page">

 @await Html.PartialAsync("_HeaderPartial")

  <main class="main">

   @RenderBody()

  </main>

@await Html.PartialAsync("_FooterPartial")

@await Html.PartialAsync("_ScrollPrePartial")

@await Html.PartialAsync("_ScriptPartial")

</body>
</html>